@import '../_respond.scss';
@import '../_variables.scss';

.GameInterface {
  display: flex;
  flex-direction: column;

  .GameInterface__gameOverLabel {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2rem;
    font-size: 1rem;
    font-weight: 700;
    color: $color-0;
  }

  .GameInterface__guessBoard {
    margin-top: 1rem;
  }

  .GameInterface__keyboard {
    margin-top: 3rem;
  }
}



.GameInterface {
  @include respond(phone) {
    flex: 1;

    .GameInterface__gameOverLabel {
      font-size: .75rem;
    }

    .GameInterface__keyboard {
      margin-top: auto;
      padding-top: 2rem;
    }
  }
}
