@import '../_respond.scss';
@import '../_variables.scss';

.GuessBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gapSize;

  .GuessBoard__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gapSize;

    .GuessBoard__letter {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $guessBoardLetterWidth;
      height: $guessBoardLetterHeight;
      border: solid 2px $color-0;
      color: $color-0;
      border-radius: .25rem;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }

    .GuessBoard__letter.score {
      color: #fff;
    }

    .GuessBoard__letter.score-0 {
      background-color: $color-0;
      border-color: $color-0;
    }

    .GuessBoard__letter.score-1 {
      background-color: $color-1;
      border-color: $color-1;
    }

    .GuessBoard__letter.score-2 {
      background-color: $color-2;
      border-color: $color-2;
    }
  }
}



.GuessBoard {
  .GuessBoard__row {
    .GuessBoard__letter {
      @include respond(phone-small) {
        width: calc($guessBoardLetterWidth * .8);
        height: calc($guessBoardLetterHeight * .8);
      }
    }
  }
}
