// COLORS
$color-0: rgb(96, 96, 96);
$color-1:  rgb(237, 194, 65);
$color-2: rgb(50, 179, 51);
$color-button: rgb(224, 224, 224);
$color-button-hover: rgb(196, 194, 194);
$color-button-clicked: rgb(180, 180, 180);
$color-button-disabled: rgb(154, 154, 154);


// GAPS
$gapSize: .25rem;


// UI SIZING
$guessBoardLetterWidth: 3.5rem;
$guessBoardLetterHeight: 3.5rem;
$keyBoardLetterWidth: 2.5rem;
$keyBoardLetterHeight: 3.5rem;
