@import './_respond.scss';
@import './_variables.scss';

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    color: $color-0;
  }

  .api-credits {
    margin-top: auto;
    padding-top: 2rem;
    font-size: .75rem;
    text-align: center;
  }
}


.App {
  &__title {
    @include respond(phone) {
      margin-bottom: .5rem;
      font-size: 1.5rem;
    }
  }

  .api-credits {
    @include respond(phone) {
      margin-top: 0;
      font-size: .5rem;
    }
  }
}
